[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DDPNA"]
	path = DDPNA
	url = https://github.com/liukf10/ddpna
	shallow = true
	subdir = DDPNA
	registered = true
